/* Estilo global */
* {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

/* Fondo de la aplicación */
.root {
    -fx-background-color: #FAF7F5;
}

/* Estilos de botones */
.button {
    -fx-background-color: #0077BS;
    -fx-text-fill: #FFFFDE;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #005f8c;
}

/* Estilo de los títulos */
.label, .text {
    font-family: 'Montserrat', sans-serif;
    color: #81C6DB;
}

/* Títulos en los formularios */
.hbox .label, .vbox .label {
    font-weight: bold;
}

/* Campos de texto y área de texto */
.text-field, .text-area, .combo-box, .date-picker {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

/* Tabla */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-font-size: 14px;
}

.table-column {
    -fx-text-fill: #81C6DB;
}

